<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медицинская история</title>
</head>
<body>
    <div id="" class="tab">
        <h2>Медицинская история</h2>
        <table>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
            <tr>
                <td>Диагноз</td>
                <td>{{ data['diagnosis_name'] }}</td>
            </tr>
        </table>
        <button>Редактировать</button>
    </div>
</body>
</html>
