<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/patient/{{ patient[0] }}/personal_info">Персональная информация</a></li>
        <li><a href="/patient/{{ patient[0] }}/contact">Контактные лица</a></li>
        <li><a href="/patient/{{ patient[0] }}/prescriptions">Препараты</a></li>
        <li><a href="/patient/{{ patient[0] }}/procedures">Процедуры</a></li>
        <li><a href="/patient/{{ patient[0] }}/diagnosis">Диагнозы</a></li>

      </ul>

</body>
</html>